/* Header Styles */
.app-header {
    color: #000000; /* White text color for contrast */
    text-align: center; /* Center-align the content */
    padding: 20px 0; /* Padding for spacing at top and bottom */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    font-family: 'lobo';
}
  
  .app-header img {
    max-height: 60px; /* Set maximum height for the logo */
    width: auto; /* Maintain aspect ratio */
  }
  
  /* Include this if you need responsiveness */
  @media (max-width: 768px) {
    .app-header img {
      max-height: 40px; /* Smaller logo for smaller screens */
    }
  }
  