<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Flask App</title>
</head>
<body>
    <h1>Hello, this is your Flask app!</h1>
    <form action="/check_speakers" method="post" enctype="multipart/form-data">
        <label for="audio_file_1">Upload Audio File 1:</label>
        <input type="file" name="audio_file_1" accept=".wav"><br>
        <label for="audio_file_2">Upload Audio File 2:</label>
        <input type="file" name="audio_file_2" accept=".wav"><br>
        <input type="submit" value="Check Speakers">
    </form>
</body>
</html>
